:host {
  display: block;
}

.bg-grid-slate-200\/60 {
  background-size: 48px 48px;
  background-image: linear-gradient(to right, rgba(148, 163, 184, 0.35) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(148, 163, 184, 0.35) 1px, transparent 1px);
}
